<%- include('app/head') %>
	<section data-section="collection">
		<nav data-paginate="prev">
			<% if (paginate.hasPreviousPages) { %>
				<a href="<%= paginate.href(true) %>"><span>Previous works of art</span></a>
			<% } %>
		</nav>

		<div data-page="<%= page %>">
			<% collection.forEach(object => { %>
				<article data-object="<%= object.id %>">
					<h2><a href="/artwork/<%= object.objectNumber %>"><%= object.title %></a></h2>
					<img src="<%= object.headerImage.url %>" alt="<%= object.longTitle %>" data-guid="<%= object.headerImage.guid %>">
				</article>
			<% }); %>
		</div>

		<nav data-paginate="next">
			<% if (paginate.hasNextPages) { %>
				<a href="<%= paginate.href() %>"><span>More works of art</span></a>
			<% } %>
		</nav>
	</section>
<%- include('app/foot') %>
